body{
  font-family: sans-serif;
  background-color:#b0edff; 
  border: 10px solid #0072ab; 
  margin: 0px;
  padding: 25px;

}

img{
    width: 200px;
}

h1{
    text-align: center;
    margin: 5px;
}

h2{
    text-align: center;
    margin: 5px;
}
.ldh{
    width: 450px; 
}

.ldh{
    text-align: center;
}

footer{
    background-color: blue;
    text-align: center;
    width: 100%;
}
